@page "/MyPages/Employee"

<h3>Employee</h3>

@using DataAccessLibrary2.Model
@using DataAccessLibrary2.DataFromDB.Employee

@inject IQueryEmployee db

@if (employee is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th> id </th>
                <th> nazwisko </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in employee)
            {
                <tr>
                    <td>@person.employee_id</td>
                    <td>@person.employee_name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ModelEmployee> employee;
   

    protected override async Task OnInitializedAsync()
    {
        employee = await db.GetEmployees();
    }
}
